* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  padding: 10px 40px;
  position: relative;
}

/** Navigatation Bar **/

a {
  text-decoration: none;
  color: #bababa;
}
.navbar-items {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.navbar-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

ul {
  list-style-type: none;
}

.navbar-links-hover:hover {
  color: #797b80;
}

/** logo styling **/
.logo {
  font-size: 48px;
  color: black;
}

.grade-logo {
  color: #4876ff;
}

/** Navbar Button Stying **/
.signin-btn {
  background-color: #eff3ff;
  padding: 10px;
  color: #000000;
  border-radius: 10px;
}

.try-for-free-btn {
  background: linear-gradient(to right, #0061ff, #3fabff);
  padding: 10px;
  color: white;
  border-radius: 10px;
}

/** Header Styling **/
.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.header-tagline {
  font-size: 64px;
  background: -webkit-linear-gradient(#0061ff, #3fabff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-description {
  font-size: 20px;
  color: #898e99;
  text-align: center;
  margin-top: 10px;
}

/** Get Started Button **/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 25px;
  background-color: #006aff;
  border: 8px solid #c0dfff;
  color: white;
  gap: 8px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
.svg {
  padding-top: 5px;
  height: 100%;
  width: fit-content;
}
.svg svg {
  width: 50px;
  height: 30px;
}
.button:hover {
  border: 8px solid #b1d8ff;
  background-color: #1b7aff;
}
.button:active {
  border: 5px solid #c0dfff;
}
.button:hover .svg svg {
  animation: jello-vertical 0.9s both;
  transform-origin: left;
}

@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/******************/

iframe {
  border-radius: 20px;
  width: 80%;
}

.guideflow {
  display: flex;
  justify-content: center;
}
